{% extends "index.html" %}


{% block title %}
Sign in
{% endblock %}

{% block body %}

{% include "navbar.html" %}


<div class='card' style="width:30%;margin-left:30%">
	<div class='card-header bg-primary'>
		<h2 style="color:white">Login Page</h2>
	</div>
	<div class='card-body'>
		<form method='POST'>
			{% csrf_token %}
			Username : <input type="text" name="uname"><br><br>
			Password : <input type="password" name="pwd"><br><br>
			<button class='btn btn-primary'>Login</button><br>
		</form>
	</div>
	{% if messages %}

	{% for msg in messages %}
		<div class="alert">{{ msg }}</div>
	{% endfor %}

	{% endif %}
	
</div>

{% endblock %}